.app {
    min-width: 100vW;
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(255, 237, 119) 60%, hsl(42, 100%, 65%));
    box-sizing: border-box;
}
@media (max-width:1024px) {
    .app{
        min-height: 140vh;
    }
}
@media (max-width:768px) {
    .app {
        background: linear-gradient(120deg, rgb(255, 237, 119) 60%, hsl(42, 100%, 65%));
        min-height: 125vh;
    }
}

@media (max-width: 480px) {
    .app {
        background: linear-gradient(120deg, rgb(255, 237, 119) 60%, hsl(42, 100%, 65%));
        min-height: 140vh;
    }
}